site_name: polars-labrodq-extension
site_description: Documentation for Polars DQ extension
site_url: https://github.com/labrodq/polars-labrodq-extension

theme:
  name: material
  language: en
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.sections
    - toc.integrate
    - content.code.copy

markdown_extensions:
  - admonition
  - toc:
      permalink: true
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.emoji

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - API Documentation:
      - Core: api/DataFrameDQNamespace.md
      - Check Config: api/CheckConfig.md
      - DQ Config: api/DQConfig.md

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: ["src"]
          options:
            docstring_style: google
            show_source: true
            show_bases: true
            filters:
              - "!^__.*__$"
              - "!^_.*"
            show_root_heading: true
            show_object_full_path: false
            show_if_no_docstring: true
